body {
    font-family: sans-serif;
    font-size: small;
}

form {
    width: 90%;
    margin: 5% auto;
}

label,
input,
select {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label+input,
label+select {
    width: 46%;
    margin: 0 10% 2% 4%;
}

#password-row label {
    width: 30%;
    text-align: right;
}

#password-row input {
    width: 46%;
    margin: 0 10% 2% 4%;
}

input[type="submit"] {
    float: right;
}
